body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background: linear-gradient(135deg, #1e3a8a, #2563eb, #1e40af);
  background-attachment: fixed;
  min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo h2{
    margin: 0;
    font-weight: 700;
}

.logo span{
    color: #facc15;

}

.nav-links a {
     margin-left: 20px;
     text-decoration: none;
     color: white;
     font-weight: 500;
     transition: color 0.3s;
} 

.nav-links a:hover {
    color: #facc15;
}

/*Hero section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: linear-gradient(to right, #1e40af, #2563eb);
    color: white;
    text-align: center;
    padding: 0 20px;
    border-bottom: 5px solid #facc15;
}

.hero-text{
    max-width: 700px;
}

.hero-text h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #e0e7ff;
}

.hero-btn:hover{
    background: #fde047;
}
/*product container*/

.container{
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.12); 
    border: radius 16px;  
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
}


/*Section titles */
.section-title{
    text-align: center;
    font-size: 1.8rem;
    margin: 30px 0;
    color: #1e3a8a;
    font-weight: 600;
}
/*product cards*/
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap:20px;
}

.card{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    color: #fff;
    transition: transform 0.3s, background 0.3s;
}  

.card:hover{
transform: scale(1.05);
background: rgba(255,255,255, 0.25);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 10px;
  background: white;
  padding: 8px;
}

.btn{
    display: inline-block;
    background-color: #facc15;
    color: #1e3a8a;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover{
    background-color: #fde047;
}

/*footer*/
.footer{
    text-align: center;
    background-color: #1e40af;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 5px solid #fcc155;
}


.login-body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,#1e3a8a,#256325eb,#1e40af);
    background-attachment: fixed;
    font-family: "poppins",sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box{
    background: rgba(255, 255, 255, 0.15);
    padding: 40px 45px;
    border-radius: 18px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.login-box h2{
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #facc15;
}

.subtitle{
    margin-bottom: 30px;
    color: #e0e7ff;
    font-size: 0.95rem;
}

.input-group{
    text-align: left;
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    margin-bottom: 6px;
    font-size: 0.9rem;
    color: #facc15;
}

.input-group input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
}

.input-group input:focus{
    box-shadow: 0 0 5px #facc15;
}

.login-btn{
    background: #facc15;
    color: #1e3a8a;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.05rem;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
    margin-top: 10px;
}

.login-btn:hover{
    background: #fde047;
}

.extra-text{
    margin-top: 18px;
    font-size: 0.9rem;
    color: #e0e7ff;
}

.extra-text a{
    color: #facc15;
    font-weight: 500;
    text-decoration: none;
}

.extra-text a:hover{
    text-decoration: underline;
}
